
@{
    ViewBag.Title = "Browse";
}

<h2>Browse</h2>
<div class="ListDetails">
    <ul>List Details
        <li>
            A
        </li>
        <li>
            B
        </li>
        <li>
            C
        </li>
    </ul>
</div>


